<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">

        <a href="/" class="logo">{{config.site_title}}</a>

      </div>
      <div class="col-sm-6">

        <form class="search-form form-inline pull-right" role="form" action="/">
          <div class="form-group">
            <label class="sr-only" for="search">Search</label>
            <input type="search" class="form-control" name="search" id="search" size="30" value="{{search}}" placeholder="Search">
          </div>
        </form>

      </div>
    </div>
  </div>
</header>